{% extends 'layout.html' %}

{% block head %}

<script src="/socket.io/socket.io.js">
</script>

{% endblock %}

{% block body %}

  <br />

  {{ message || "" }}

  <div id="container">
    <div id="topbar">
      {% if username %}

      {% else %}
      <form id="login">
        <input type="text" id="login-username" placeholder="Username" />
        <input type="password" id="login-password" placeholder="Password" />
        <button type="submit">Login</button>
      </form>
      {% endif %}
    </div>

    <form id="register">
      <input type="text" id="register-username" placeholder="Username" />
      <input type="password" id="register-password" placeholder="Password" />
      <input type="password" id="register-confirm-password"
             placeholder="Confirm password" />
      <input type="email" id="register-email"
             placeholder="Email" />
      <button type="submit">Register</button>
    </form>
    <hr />
    <div id="copyright">
      &copy; 2015 Alvin Lin and Kenneth Li. All Rights Reserved.
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/static/dist/minified.js"></script>
  
{% endblock %}
